In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("hurricane_data.csv")

In [5]:
df

,Year,Name,Category,Rain Inch.,Highest Wind Speed,Damage(USD),Fatalities,Affected Areas
0,2000,Debby,Category 1,28.00,85,737000,1,"Lesser Antilles, Puerto Rico, Hispaniola, Turk..."
1,2000,Gordon,Category 1,9.48,80,5100000,26,"Central America (particularly Belize), Yucatán..."
2,2000,Helene,TS,9.56,70,16000000,2,"Lesser Antilles, Puerto Rico, Hispaniola, Jama..."
3,2000,Leslie,TS,17.50,45,950000000,3,"Cuba, Bahamas, Florida, Bermuda, Atlantic Cana..."
4,2001,Allison,TS,40.00,60,9000000000,55,"Texas, Louisiana, Mississippi, Alabama, Georgi..."
...,...,...,...,...,...,...,...,...
120,2022,Alex,TS,11.90,70,NaN,4,"Yucatán Peninsula, western Cuba, Florida, the ..."
121,2022,Ian,Category 5,31.52,160,113000000000,161,"Trinidad and Tobago, Venezuela, Colombia, ABC ..."
122,2022,Nicole,Category 1,8.00,75,1000000000,11,"Dominican Republic, Puerto Rico, The Bahamas, ..."
123,2023,Idalia,Category 4,5.50,130,3600000000,12,"Yucatán Peninsula, Cayman Islands, Western Cub..."
124,2023,Lee,Category 5,6.50,165,50000000,4,"Bermuda, Northeastern United States, Eastern C..."

In [24]:
df['Affected Areas'][4].split(",\xa0")

['Texas',
 'Louisiana',
 'Mississippi',
 'Alabama',
 'Georgia',
 'Florida',
 'South Carolina',
 'North Carolina',
 'Virginia',
 'District of Columbia',
 'Maryland',
 'Delaware',
 'Pennsylvania',
 'New York',
 'New Jersey',
 'Rhode Island',
 'New England',
 'Atlantic Canada']

In [20]:
all_places = []
for i in range(len(df)):
    places = df['Affected Areas'][i].split(",\xa0")
    all_places += places
    
set(all_places)

{'ABC islands',
 'Alabama',
 'Alabama)',
 'Alabama, most of the\xa0United States Gulf Coast, and Canada',
 'Anguilla',
 'Antilles\xa0(particularly\xa0Dominica)',
 'Arizona',
 'Arkansas',
 'Atlantic Canada',
 'Azores',
 'Azores, the\xa0British Isles',
 'Bahamas',
 'Bahamas, Florida',
 'Bahamas, Florida, Lousiana, Mississippi, Alabama, Eastern United States, Eastern Canada',
 'Bahamas, most of the eastern United States (especially the coastal\xa0Mid-Atlantic States)',
 'Bahamas\xa0and\xa0Florida',
 'Barbados',
 'Belize',
 'Bermuda',
 'Bermuda, eastern Canada',
 'British Isles',
 'Canada',
 'Cape Verde',
 'Cape Verde, Northeastern Caribbean, Eastern United States, Bermuda, Newfoundland, Saint Pierre and Miquelon, Southern Greenland',
 'Carolinas',
 'Cayman Islands',
 'Cayman Islands, Western\xa0Cuba',
 'Central America',
 'Central America, western\xa0Caribbean',
 'Central America\xa0(especially\xa0Guatemala',
 'Central America\xa0(particularly\xa0Belize)',
 'Central United States',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Cuba, Florida',
 'Cuba, Southeastern United States (especially the\xa0Florida Panhandle\xa0and\xa0Georgia), Eastern United States, Eastern Canada',
 'Cuba, Southeast\xa0United States\xa0(especially Florida and\xa0The Carolinas)',
 'Delaware',
 'District of Columbia',
 'Dominican Republic',
 'East Coast of the United States',
 'East Coast of the United States, Western Europe',
 'East Coast of the United States\xa0(especially the\xa0Carolinas)',
 'East coast of the United States',
 'Eastern Canada',
 'Eastern Europe',
 'Eastern Seaboard',
 'Eastern United States',
 'Eastern United States, Florida',
 'Eastern United States\xa0(especially Florida',
 'Eastern United States\xa0(especially\xa0Florida)',
 'Eastern United States\xa0(particularly\xa0Florida\xa0and\xa0North Carolina), Southern\xa0Quebec',
 'Eastern\xa0Southeastern United States',
 'Eastern\xa0United States\xa0(especially\xa0Florida\xa0and\xa0South Carolina)',
 'El Salvador, western\xa0Cuba',
 'El Salvador\xa0and\xa0Honduras), Mexico',
 'Estonia',
 'Europe',
 'Florida',
 'Florida Keys',
 'Florida Peninsula\xa0and the\xa0First Coast',
 'Florida, Georgia, South Carolina, North Carolina, Bermuda, Newfoundland',
 'Florida, the\xa0Bahamas',
 'France',
 'Georgia',
 'Germany',
 'Grand Cayman',
 'Great Lakes Region',
 'Great Lakes region',
 'Greater Antilles',
 'Greater Antilles\xa0(Cuba\xa0and\xa0Puerto Rico)',
 'Greenland',
 'Guatemala',
 'Guatemala, Mexico',
 'Gulf Coast of the United States',
 'Gulf Coast of the United States\xa0(mainly Texas), Mexico',
 'Guyana',
 'Haiti',
 'Hispaniola',
 'Honduras',
 'Iberian Peninsula',
 'Illinois',
 'Indiana',
 'Ireland',
 'Isle of Youth',
 'Jamaica',
 'Jamaica, Costa Rica, Nicaragua, Honduras, Cayman Islands, Cuba, Florida, Bahamas, Turks and Caicos Islands, Bermuda',
 'Kentucky',
 'Latvia',
 'Leeward Islands',
 'Leeward Islands\xa0(especially\xa0Barbuda',
 'Lesser Antilles',
 'Louisiana',
 'Louisiana, Texas',
 'Lucayan Archipelago',
 'Lucayan Archipelago, Hispanialo, Cuba, Cayman Islands, Texas, South Central United States, Great Lakes region, Canada',
 'Lucayan Archipelago\xa0(especially\xa0The Bahamas)',
 'Maine',
 'Maryland',
 'Mexico',
 'Mexico, Florida, Bahamas',
 'Mexico, Texas',
 'Michigan',
 'Mid-Atlantic',
 'Mid-Atlantic States',
 'Mid-Atlantic United States',
 'Mid-Atlantic states',
 'Midwestern United States',
 'Mississippi',
 'Missouri',
 'Morocco',
 'New England',
 'New Jersey',
 'New Mexico',
 'New York',
 'Newfoundland',
 'Nicaragua',
 'North Atlantic\xa0Coastlines',
 'North Carolina',
 'Northeastern United States',
 'Northeastern United States\xa0and\xa0Atlantic Canada',
 'Northeastern\xa0Caribbean',
 'Northwest Caribbean',
 'Ohio Valley',
 'Oklahoma',
 'Oklahoma, Eastern United States, Eastern Canada',
 'Pennsylvania',
 'Poland',
 'Puerto Rico',
 'Rhode Island',
 'Russia',
 'Saint Barthélemy',
 'Saint Martin\xa0and the\xa0Virgin Islands)',
 'San Andrés, Jamaica, Central America, Cayman Islands, Cuba, Bahamas, Southeastern United States',
 'South Carolina',
 'South Carolina, and\xa0North Carolina)',
 'South Florida',
 'Southeast U.S.',
 'Southeastern U.S.',
 'Southeastern United States',
 'Southeastern United States and surrounding areas',
 'Southeastern United States\xa0(Especially\xa0Florida',
 'Southeastern United States\xa0(especially\xa0Florida\xa0and\xa0The Carolinas)',
 'Southern Ontario',
 'Southern United States',
 'Southern\xa0and\xa0Eastern United States\xa0(especially Texas and\xa0Louisiana)',
 'Southwestern United States',
 'St Pierre and Miquelon',
 'Suriname',
 'Tennessee',
 'Texas',
 'The Bahamas',
 'The Bahamas, Florida, Mexico, Southern Texas',
 'The Bahamas, The Southeastern United States',
 'The Bahamas\xa0(especially the\xa0Abaco Islands\xa0and\xa0Grand Bahama)',
 'The Carolinas',
 'The Maritimes',
 'Trinidad and Tobago',
 'Turks and Caicos',
 'Turks and Caicos Islands',
 'U.S. Gulf Coast',
 'U.S. Virgin Islands',
 'United Kingdom',
 'United States East Coast',
 'United States Gulf Coast',
 'United States Gulf Coast\xa0and\xa0Eastern United States',
 'Venezuela',
 'Vermont',
 'Virgin Islands, Puerto Rico, Turks and Caicos Islands, Bahamas, Florida, Atlantic Canada',
 'Virginia',
 'West Africa',
 'West Virginia\xa0and\xa0Ohio',
 'Western Europe',
 'Windward Islands',
 'Windward Islands, Greater Antilles, Southeastern United States, Great Lakes Region, Canada',
 'Windward Islands\xa0(especially Grenada)',
 'Yucatan Peninsula',
 'Yucatan Peninsula, Cuba, East Coast of the United States',
 'Yucatan Peninsula, central\xa0Florida',
 'Yucatán Peninsula',
 'Yucatán Peninsula, Mexico, Texas',
 'Yucatán Peninsula, Northern Mexico, Texas',
 'Yucatán Peninsula, western\xa0Cuba'}

In [21]:
counts = df.groupby('Year').count()

In [6]:
df.isna().sum()

Year                   0
Name                   0
Category               0
Rain Inch.             1
Highest Wind Speed     0
Damage(USD)           14
Fatalities             0
Affected Areas         0
dtype: int64

In [8]:
df.groupby(['Year', 'Category']).count()

                 Name  Rain Inch.  Highest Wind Speed  Damage(USD)  \
Year Category
2000 Category 1     2           2                   2            2
     TS             2           2                   2            2
2001 Category 1     1           1                   1            1
     Category 4     1           1                   1            1
     TS             2           2                   2            2
...               ...         ...                 ...          ...
2022 Category 1     1           1                   1            1
     Category 5     1           1                   1            1
     TS             1           1                   1            0
2023 Category 4     1           1                   1            1
     Category 5     1           1                   1            1

                 Fatalities  Affected Areas
Year Category
2000 Category 1           2               2
     TS                   2               2
2001 Category 1           1               1
     Category 4           1               1
     TS                   2               2
...                     ...             ...
2022 Category 1           1               1
     Category 5           1               1
     TS                   1               1
2023 Category 4           1               1
     Category 5           1               1

[72 rows x 6 columns]